.directory-container {
  min-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 1em 0.5em;
  justify-content: center;
}

.pagination-container {
  margin: 0 auto;
  width: fit-content;
}