.modal-body h5 {
  border-bottom: 1px solid lightgray;
  margin-top: 1.5em;
}

.country-label {
  font-weight: 600;
  font-size: 1.1rem;
}

.country-card {
  width: 15vw;
  height: 90%;
  flex: 1;
  cursor: pointer;
  padding: 1.5em 2em 2em 2em;
  border-radius: 2em;
  border: 1px solid transparent;
  background: #def3ff;
  text-align: center;
  margin: 0.75em;
}

.country-card:hover {
  border: 1px solid #0074b7;
  background-color: #fff;
}

.flag-container {
  width: auto;
  height: calc(600px * .15);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 0.5em;
  filter: drop-shadow(0 0 1px black)
}

::ng-deep .modal-dialog {
  max-width: 80vw;
}

::ng-deep .modal-body {
  padding: 0em 3em 3em;
}

/* Tablet view */
@media screen
  and (min-width: 500px) and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 1),
  (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) { 
    .country-card {
      min-width: 35vw;
    }
}

/* Mobile view */
@media only screen
  and (min-width: 375px) 
  and (max-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .country-card {
      width: 50vw;
    }
}