/* You can add global styles to this file, and also import other style files */
ul {
  list-style: none;
  padding-inline-start: 0px;
}

button.btn {
  padding: 0.15em 0.50em;
  font-size: 0.90em;
  color: #00446b;
  border: 1px solid #00446b;
  border-radius: 1em;
}

.row {
  margin-bottom: 0.5em;
}

.icon {
  cursor: pointer;
}

.label {
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr, td {
  border: 1px solid lightgray;
  padding: 0.25em 0.5em;
}